# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Logs
*.log

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment
.env
.env*.local

# IDE
.vscode
.idea
